.card-head{
    padding: 0.5rem;
}
.text-muted{
    font-size: 18px;
}
.example-full-width{
    width:100%;
}
.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
